{% extends 'vehicle/adminbase.html' %}
{% load static %}
{% block content %}

<body>
  <div class="content-header">
		<div class="container-fluid">
		  <div class="row mb-2">
			<div class="col-sm-6">
			  
			</div><!-- /.col -->
			<div class="col-sm-6">
			  <ol class="breadcrumb float-sm-right">
				<li class="breadcrumb-item"><a href="/admin-dashboard">Home</a></li>
				<li class="breadcrumb-item active">Mechanic</li>
			  </ol>
			</div><!-- /.col -->
		  </div><!-- /.row -->
		</div><!-- /.container-fluid -->
	  </div>
  <div class="row">
    <div class="col-lg-3 col-6">
      <!-- small card -->
      <div class="small-box bg-info">
        <div class="inner">
          <h3></h3>
          <h5>View All Mechanic</h5>
        </div>
        <div class="icon">
          <i class="fas fa-eye f-left"></i>
        </div>
        <a href="/admin-view-mechanic" class="small-box-footer">
          More info <i class="fas fa-arrow-circle-right"></i>
        </a>
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
      <!-- small card -->
      <div class="small-box bg-success">
        <div class="inner">
          <h3></h3>
          <h5>Add Mechanic</h5>
        </div>
        <div class="icon">
          <i class="fas fa-plus-circle f-left"></i>
        </div>
        <a href="/admin-add-mechanic" class="small-box-footer">
          More info <i class="fas fa-arrow-circle-right"></i>
        </a>
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
      <!-- small card -->
      <div class="small-box bg-warning">
        <div class="inner">
          <h3></h3>
          <h5>Approve Mechanic</h5>
        </div>
        <div class="icon">
          <i class="fas fa-check-circle f-left"></i>
        </div>
        <a href="/admin-approve-mechanic" class="small-box-footer">
          More info <i class="fas fa-arrow-circle-right"></i>
        </a>
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
      <!-- small card -->
      <div class="small-box bg-danger">
        <div class="inner">
          <h3></h3>
  
          <h5>View Mechanic Salary</h5>
        </div>
        <div class="icon">
          <i class="fas fa-rupee-sign f-left"></i>
        </div>
        <a href="/admin-view-mechanic-salary" class="small-box-footer">
          More info <i class="fas fa-arrow-circle-right"></i>
        </a>
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
      <!-- small card -->
      <div class="small-box bg-purple">
        <div class="inner">
          <h3></h3>
  
          <h5>Mechanic Attendance</h5>
        </div>
        <div class="icon">
          <i class="fas fa-calendar-week f-left"></i>
        </div>
        <a href="/admin-mechanic-attendance" class="small-box-footer">
          More info <i class="fas fa-arrow-circle-right"></i>
        </a>
      </div>
    </div>
  </div>
</body>
{% endblock content %}
