{% extends 'vehicle/mechanicbase.html' %}
{% load static %}
{% block content %}

<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">

      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="/customer-dashboard">Home</a></li>
          <li class="breadcrumb-item active">Profile</li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">

        <!-- Profile Image -->
        <div class="card card-primary card-outline" style="background: #000;">
          <div class="card-body box-profile">
            <div class="text-center">
              <img class="profile-user-img img-fluid img-" src="{%static mechanic.profile_pic.url%}"
                alt="User profile picture">
            </div>

            <h3 class="profile-username text-center">{{mechanic}}</h3>
            <ul class="list-group list-group-unbordered mb-3">
              <li class="list-group-item" style="background:#000;">
                <b>Mobile</b> <a class="float-right">{{mechanic.mobile}}</a>
              </li>
              <li class="list-group-item" style="background:#000;">
                <b>Skill</b> <a class="float-right">{{mechanic.skill}}</a>
              </li>
              <li class="list-group-item" style="background:#000;">
                <b>Address</b> <a class="float-right">{{mechanic.address}}</a>
              </li>

            </ul>

            <a href="/edit-mechanic-profile" class="btn btn-primary btn-block"><b>Edit Profile</b></a>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->


        <!-- /.card -->
      </div>
      <div class="col-md-8">
        <div class="card card-primary" style="background:#000;">
          <div class="card-header">
            <h3 class="card-title">About Me</h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">

            <strong><i class="fas fa-map-marker-alt mr-1"></i> Location</strong>

            <p class="text-muted">Malibu, California</p>

            <hr>

            <strong><i class="fas fa-pencil-alt mr-1"></i> Work</strong>

            <hr>

            <strong><i class="far fa-file-alt mr-1"></i> Notes</strong>

            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum enim neque.
            </p>
          </div>
          <!-- /.card-body -->
        </div>
      </div>
    </div>
    <!-- /.row -->
  </div><!-- /.container-fluid -->
</section>
{% endblock content %}
