<!DOCTYPE html>
{% load static %}
<html>
<head>

	
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
	 <link rel="icon" type="image/png" href="{% static "assets/AT-pro-logo.png" %}"/>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
	<link rel="stylesheet" href="{% static 'plugins/fontawesome-free/css/all.min.css' %}">
	<link rel="stylesheet" href="{% static 'plugins/sweetalert2/sweetalert2.min.css' %}">
	<link rel="stylesheet" href="{% static 'plugins/toastr/toastr.min.css' %}">
	<link rel="stylesheet" href="{% static 'dist/css/adminlte.min.css' %}">
	<link rel="stylesheet" href="{% static 'plugins/overlayScrollbars/css/OverlayScrollbars.min.css' %}">
</head>
<body class="hold-transition dark-mode sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
	<div class="wrapper">
	  <nav class="main-header navbar navbar-expand navbar-dark" style="background: #000;">
		<ul class="navbar-nav">
		  <li class="nav-item">
			<a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
		  </li>
		  <h4 class="m-0 mt-1">The Royal</h4>
		</ul>
		<ul class="navbar-nav ml-auto">
		  <li class="nav-item">
			<a class="nav-link" data-widget="navbar-search" href="#" role="button">
			  <i class="fas fa-search"></i>
			</a>
			<div class="navbar-search-block">
			  <form class="form-inline">
				<div class="input-group input-group-sm">
				  <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
				  <div class="input-group-append">
					<button class="btn btn-navbar" type="submit">
					  <i class="fas fa-search"></i>
					</button>
					<button class="btn btn-navbar" type="button" data-widget="navbar-search">
					  <i class="fas fa-times"></i>
					</button>
				  </div>
				</div>
			  </form>
			</div>
		  </li>
		  <li class="nav-item dropdown">
			<a class="nav-link" data-toggle="dropdown" href="#">
			  <i class="far fa-comments"></i>
			  <span class="badge badge-danger navbar-badge">1</span>
			</a>
			<div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
			  <a href="#" class="dropdown-item">
				<div class="media">
				  <img src="dist/img/user1-128x128.jpg" alt="User Avatar" class="img-size-50 mr-3 img-circle">
				  <div class="media-body">
					<h3 class="dropdown-item-title">
					  Brad Diesel
					  <span class="float-right text-sm text-danger"><i class="fas fa-star"></i></span>
					</h3>
					<p class="text-sm">Call me whenever you can...</p>
					<p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
				  </div>
				</div>
			  </a>
			  <div class="dropdown-divider"></div>
			  <a href="#" class="dropdown-item dropdown-footer">See All Messages</a>
			</div>
		  </li>
		  <li class="nav-item dropdown">
			<a class="nav-link" data-toggle="dropdown" href="#">
			  <i class="far fa-bell"></i>
			  <span class="badge badge-warning navbar-badge">15</span>
			</a>
			<div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
			  <div class="dropdown-divider"></div>
			  <a href="#" class="dropdown-item">
				<i class="fas fa-envelope mr-2"></i> 4 new messages
				<span class="float-right text-muted text-sm">3 mins</span>
			  </a>
			  <div class="dropdown-divider"></div>
			  <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
			</div>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" data-widget="fullscreen" href="#" role="button">
			  <i class="fas fa-expand-arrows-alt"></i>
			</a>
		  </li>
		</ul>
	  </nav>
	  <aside class="main-sidebar sidebar-dark-primary elevation-4" style="background: #000; border: #333 solid 2px;">
		<a href="/customer-dashboard" class="brand-link" style="background: #000;">
			<span class="brand-text font-weight-light"><b>The Royal</b></span>
		</a>
		<div class="sidebar">
		  <div class="user-panel mt-3 pb-3 mb-3 d-flex">
			<div class="image">
			  </div>
			<div class="info">
			  <a href="/mechanic-profile" class="d-block">{{mechanic}}</a>
			</div>
		  </div>
		  <nav class="mt-2">
			<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
			  <li class="nav-item">
				<a href="/mechanic-dashboard" class="nav-link">
				  <i class="nav-icon fas fa-tachometer-alt"></i>
				  <p>
					Dashboard
				  </p>
				</a>
			  </li>
			  <li class="nav-item">
				<a href="/mechanic-work-assigned" class="nav-link">
				  <i class="nav-icon fas fa-spinner"></i>
				  <p>
					Work Assigned
				  </p>
				</a>
			  </li>
			  <li class="nav-item">
				<a href="/mechanic-salary" class="nav-link">
				  <i class="nav-icon fas fa-rupee-sign"></i>
				  <p>
					Salary
				  </p>
				</a>
			  </li>
			  <li class="nav-item">
				<a href="/mechanic-attendance" class="nav-link">
				  <i class="nav-icon fas fa-calendar-week"></i>
				  <p>
					Attendance
				  </p>
				</a>
			  </li>
			  <li class="nav-item">
				<a href="/mechanic-feedback" class="nav-link">
				  <i class="nav-icon fas fa-comments"></i>
				  <p>
					FeedBack
				  </p>
				</a>
			  </li>
			  <li class="nav-item">
				<a href="/mechanic-profile" class="nav-link">
				  <i class="nav-icon fas fa-user-tie"></i>
				  <p>
					Profile
				  </p>
				</a>
			  </li>
			  <li class="nav-item">
				<a href="/logout" class="nav-link">
				  <i class="nav-icon fas fa-sign-out-alt"></i>
				  <p>
					Logout
				  </p>
				</a>
			  </li>
			  
			</ul>
		  </nav>
		</div>
	  </aside>
	  <div class="content-wrapper" style="background: #000;">
		<section class="content">
			<div class="content">

				{% block content %}
		
				{% endblock content %}
			</div>
		</section>
	  </div>
	  <aside class="control-sidebar control-sidebar-dark">
	  </aside>
	  <footer class="main-footer" style="background: #000;">
		<strong>Copyright &copy; 1993-2023 <a href="">Royal Cars</a>.</strong>
		All rights reserved.
		<div class="float-right d-none d-sm-inline-block">
		  <b>Version</b> 3.2.0
		</div>
	  </footer>
	</div>
	<script src="{% static 'plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js' %}"></script>
	<script src="{% static 'plugins/jquery-mousewheel/jquery.mousewheel.js' %}"></script>
	<script src="{% static 'plugins/jquery-mapael/jquery.mapael.min.js' %}"></script>
	<script src="{% static 'plugins/jquery-mapael/maps/usa_states.min.js' %}"></script>
	<script src="{% static 'plugins/chart.js/Chart.min.js' %}"></script>
	<script src="{% static 'dist/js/pages/dashboard2.jss' %}"></script>
	<script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
<script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'dist/js/adminlte.min.js' %}"></script>
	</body>
</html>







	<!-- import script -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
	<script src="{% static "index.js" %}"></script>
	<!-- end import script -->
</body>
</html>
