{% extends 'vehicle/mechanicbase.html' %}
{% block content %}
{% load static %}
	<!-- main content -->
	<div class="content-header">
		<div class="container-fluid">
		  <div class="row mb-2">
			<div class="col-sm-6">
			  
			</div><!-- /.col -->
			<div class="col-sm-6">
			  <ol class="breadcrumb float-sm-right">
				<li class="breadcrumb-item"><a href="/customer-dashboard">Home</a></li>
				<li class="breadcrumb-item active">Attendance</li>
			  </ol>
			</div><!-- /.col -->
		  </div><!-- /.row -->
		</div><!-- /.container-fluid -->
	  </div>
	<div class="wrapper">

<div class="row">
	<div class="col-12">
	  <div class="card" style="background: #000;">
		<div class="card-header">
		  <h3 class="card-title">Your Attendance</h3>

		  <div class="card-tools">
			<div class="input-group input-group-sm" style="width: 150px;">
			  <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

			  <div class="input-group-append">
				<button type="submit" class="btn btn-default">
				  <i class="fas fa-search"></i>
				</button>
			  </div>
			</div>
		  </div>
		</div>
		<div class="card-body table-responsive p-0" style="height: 300px;">
		  <table class="table table-head-fixed text-nowrap">
			<thead>
				<tr>
					<th style="background:#000;">Date</th>
					<th style="background:#000;">Present/Absent</th>
				  </tr>
			</thead>
			<tbody>
				{% for w in attendaces %}
                <tr>
                  <td> {{w.date}}</td>
                  <td> {{w.present_status}}</td>
                                  </tr>
                {% endfor %}
			</tbody>
		  </table>
		</div>
	  </div>
	</div>
  </div>

{% endblock content %}
